# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
libsr_log.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

*~
*.cmd
*.log
.tmp_versions
modules.order
*.mod.c
vsentry-engine/build/
vsentry-ut/build/
vsentry-cli/build/
vsentry-cli/cli_builder/build/
vsentry-mod/Module.symvers
sr_config.cfg
sr_build_ver.h
scripts/tmp/
run.sh
redis/dump.rdb
redis/src/Makefile.dep
redis/src/redis-check-aof
redis/src/redis-check-rdb
redis/src/redis-cli
redis/src/redis-sentinel
redis/src/redis-server
redis/src/redis-benchmark
redis/src/release.h
redis/deps/

.cproject
.project
.settings/

